github "TakeScoop/SwiftyRSA"
github "realm/realm-cocoa"
github "ReactiveX/RxSwift" ~> 4.0
github "jdg/MBProgressHUD" ~> 1.1.0
github "KennethTsang/GrowingTextView" ~> 0.5.5
github "facebook/pop"
github "SnapKit/SnapKit" "5.0.0"
github "RxSwiftCommunity/RxRealm"
github "MortimerGoro/MGSwipeTableCell"
github "ashleymills/Reachability.swift"
github "artemkrachulov/AKMaskField"
github "krzyzanowskim/CryptoSwift" "1.0.0"
github "ninjaprox/NVActivityIndicatorView"
github "Anakros/WebRTC"
github "evgenyneu/Cosmos" "19.0.3"
github "cornerAnt/Digger"
github "inspace-io/INSPhotoGallery" "1.2.8"
github "HeroTransitions/Hero"
github "SwiftyJSON/SwiftyJSON" "5.0.0"
github "Alamofire/Alamofire"
github "SDWebImage/SDWebImage"
github "ivanbruel/MarkdownKit"
github "hkellaway/Gloss"
github "andreamazz/AMPopTip" "4.0.1"
github "AFNetworking/AFNetworking" ~> 3.0
github "yannickl/QRCodeReader.swift" "10.0.0"
github "gmarm/BetterSegmentedControl" "0.9"
github "marketplacer/keychain-swift" ~> 8.0
github "IcaliaLabs/Presentr" ~> 1.9
github "xmartlabs/XLPagerTabStrip" ~> 7.0
github "evgenyneu/keychain-swift" ~> 15.0
github "kaishin/Gifu"
github "KianIranian-STDG/IGProtoBuffLibrary" "Proto115"

binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMessagingBinary.json"
