github "TakeScoop/SwiftyRSA"
github "realm/realm-cocoa"
github "ReactiveX/RxSwift" ~> 4.0
github "jdg/MBProgressHUD" ~> 1.1.0
github "KennethTsang/GrowingTextView" ~> 0.5.5
github "facebook/pop"
github "SnapKit/SnapKit" ~> 4.0.0
github "RxSwiftCommunity/RxRealm"
github "MortimerGoro/MGSwipeTableCell"
github "ashleymills/Reachability.swift"
github "artemkrachulov/AKMaskField"
github "krzyzanowskim/CryptoSwift" "0.7.2"
github "ninjaprox/NVActivityIndicatorView"
github "Anakros/WebRTC"
github "evgenyneu/Cosmos" ~> 15.0
github "cornerAnt/Digger"
github "inspace-io/INSPhotoGallery" "1.2.6"
github "HeroTransitions/Hero"
github "SwiftyJSON/SwiftyJSON" ~> 4.0
github "Alamofire/Alamofire"
github "SDWebImage/SDWebImage"
github "ivanbruel/MarkdownKit"

github "RooyeKhat-Media/Gifu" "v3.0.0-a"
github "RooyeKhat-Media/ALCameraViewController" "3.0.3"
github "RooyeKhat-Media/Starscream" "3.0.4-a"
github "RooyeKhat-Media/DBAttachmentPickerController"  "1.1.4-a"
github "KianIranian-STDG/IGProtoBuffLibrary" "Proto106"

github "TakeScoop/SwiftyRSA"
github "andreamazz/AMPopTip" >= 3.0.0
github "AFNetworking/AFNetworking" ~> 3.0
github "yannickl/QRCodeReader.swift" "8.1.1"
github "gmarm/BetterSegmentedControl" "0.9"
github "marketplacer/keychain-swift" ~> 8.0
github "IcaliaLabs/Presentr" "1.3.2"

binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMessagingBinary.json"
