<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sections</key>
	<array>
		<dict>
			<key>SectionTitle</key>
			<string>Cakes</string>
			<key>Items</key>
			<array>
				<string>cake1</string>
				<string>cake2</string>
				<string>cake3</string>
				<string>cake4</string>
				<string>cake5</string>
				<string>cake6</string>
			</array>
		</dict>
		<dict>
			<key>SectionTitle</key>
			<string>Pizzas</string>
			<key>Items</key>
			<array>
				<string>pizza1</string>
				<string>pizza2</string>
				<string>pizza3</string>
				<string>pizza4</string>
				<string>pizza5</string>
				<string>pizza6</string>
				<string>pizza7</string>
				<string>pizza8</string>
			</array>
		</dict>
		<dict>
			<key>SectionTitle</key>
			<string>Drinks</string>
			<key>Items</key>
			<array>
				<string>drink1</string>
				<string>drink2</string>
				<string>drink3</string>
				<string>drink4</string>
				<string>drink5</string>
			</array>
		</dict>
		<dict>
			<key>SectionTitle</key>
			<string>Cookies</string>
			<key>Items</key>
			<array>
				<string>cookie1</string>
				<string>cookie2</string>
				<string>cookie3</string>
				<string>cookie4</string>
				<string>cookie5</string>
			</array>
		</dict>
		<dict>
			<key>SectionTitle</key>
			<string>Candies</string>
			<key>Items</key>
			<array>
				<string>candy1</string>
				<string>candy2</string>
				<string>candy3</string>
				<string>candy4</string>
				<string>candy5</string>
				<string>candy6</string>
				<string>candy7</string>
			</array>
		</dict>
		<dict>
			<key>SectionTitle</key>
			<string>Toffees</string>
			<key>Items</key>
			<array>
				<string>toffee1</string>
				<string>toffee2</string>
				<string>toffee3</string>
				<string>toffee4</string>
				<string>toffee5</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
